/* backgrounds */
.bg-light-blue{
	background: #4FA4D3;
}
.bg-blue{
	background: #0062c4;
}
.bg-dark-blue{
	background: #0E3151 ;
}
.bg-green{
	background: #10A37F;
}
.bg-coral{
	background: #f85656;
}
.bg-slate-dark-blue{
	background: #385a7c;
}
.bg-slate-blue{
	background: #3872a0;
}
.bg-red{
	background: #F12E45;
}
.bg-dark-red{
	background: #ee8582;
}
.bg-error{
	background: #ee8582
}

/* text */
.txt-light-blue{
	color: #4FA4D3;
}
.txt-blue{
	color: #0062c4;
}
.txt-dark-blue{
	color: #0E3151 ;
}
.txt-green{
	color: #10A37F;
}
.txt-coral{
	color: #f85656;
}
.txt-slate-dark-blue{
	color: #385a7c;
}
.txt-slate-blue{
	color: #3872a0;
}
.txt-red{
	color: #F12E45;
}
.txt-dark-red{
	color: #C2272D;
}
.txt-error{
	color: #fff;
}

/* text social media */
.txt-facebook{
	color: #3b5998
}
.txt-twitter{
	color: #1dcaff
}
.txt-instagram{
	color: #E4405F
}
.txt-pinterest{
	color: #c8232c
}