
.nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
	background: transparent; 
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
    margin:0;
    padding:0;
}
.nav > ul > li:hover {
	background: #fafafa;
}
.nav a {
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
    font-size: 12px;
	font-weight: 600;
	color: #333;
    display:block;
	padding: 15px 10px 15px 10px;
	width: auto;
	text-decoration: none;
}
.nav > ul > li.dropdown > a {
	padding: 15px;
	width: 110px;
}
.nav > ul > li.dropdown > a.home {
	width: 100px;
}
.nav > ul > li.dropdown > a.util-dash {
	width: 100px;
}
.nav > ul > li.dropdown > a.username {
	width: 150px;
}
.nav a:hover {
    text-decoration:none;
    color:#0073E6;
}
.nav li ul {
	background: #fafafa;
}
.nav li ul li {
    width:110px;
}
.nav li ul li.home {
    width:100px;
}
.nav li ul li.util-dash {
    width:100px;
}
.nav li ul li.username {
    width:150px;
}
.nav li ul a {
    border:none;
}

.nav li ul {
    position:absolute;
    left:0;
    top:42px;
	background: transparent; 
    z-index:1;
}
.nav li ul li {
    overflow:hidden;
    height:0;
    -webkit-transition:height 250ms ease-in-out 0ms;
    -moz-transition:height 250ms ease-in-out 0ms;
    -o-transition:height 250ms ease-in-out 0ms;
    transition:height 250ms ease-in-out 0ms;
    margin:0;
	background: #fafafa;
}
.nav li ul li a{
    padding: 15px 0;
}
.nav ul > li:hover ul li {
    height:40px;
	background: #fafafa;
}
.nav ul > li ul li:hover {
	background: #eee;
}
